services:
  - type: web
    name: social-video-publisher
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: NEXTAUTH_URL
        sync: false
      - key: NEXTAUTH_SECRET
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: TIKTOK_CLIENT_ID
        sync: false
      - key: TIKTOK_CLIENT_SECRET
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: YOUTUBE_API_KEY
        sync: false
      - key: API_SECRET
        sync: false

  - type: pserv
    name: social-video-publisher-db
    plan: free
    ipAllowList: []
    postgresMajorVersion: 14
